@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-family: "Roboto";
  color: var(--main-text);
}
body.modal-open {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  body.scrol-off {
    overflow: hidden;
  }
}

.container {
  min-width: 250px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 479.98px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 767.98px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1199.98px;
  }
}

.titlle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .titlle {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.column__titlle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    display: block;
    border: none;
    background-color: transparent;
    z-index: 3;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button .icon-close {
  display: none;
}

.header__menu-button.is-open .icon-close {
  display: block;
}
.header__menu-button.is-open .icon-close:hover, .header__menu-button.is-open .icon-close:focus {
  fill: #2196f3;
}

.header__menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  z-index: 2;
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style: none;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    padding: 48px 40px;
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}
.navigation {
  font-size: 40px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 88px;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.header__menu {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__menu {
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    gap: 50px;
  }
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: #2196f3;
}
.menu__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus, .menu__link:active {
    color: #2196f3;
  }
  .menu__link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-image: url(../images/icon/hover.svg);
    opacity: 0;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover::after, .menu__link:focus::after {
    transform: scaleX(1);
    opacity: 1;
  }
  .menu__link--active {
    color: #2196f3;
  }
  .menu__link--active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-image: url(../images/icon/hover.svg);
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    width: 360px;
  }
}

.header__contacts {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    flex-direction: column-reverse;
    gap: 32px;
    margin-top: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    flex-direction: column;
    background-color: #ffffff;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    gap: 50px;
  }
}

.contacts__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
    line-height: 1.16;
  }
  .contacts__link--active {
    font-size: 34px;
    line-height: 1.17;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16px;
    display: inline-flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__icon:hover, .contacts__icon:focus, .contacts__icon:active {
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .mobile-social {
    display: inline-flex;
    margin-top: 64px;
    font-size: 18px;
    line-height: 1.22;
    color: #2196f3;
    gap: 10px;
  }
  .mobile-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .mobile-social {
    display: none;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__nav {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    height: 80px;
  }
}

.headerbar {
  display: flex;
  align-items: center;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/header-mobile-1x.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), screen and (o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-mobile-2x.jpeg");
  }
}
@media (min-device-pixel-ratio: 3), screen and (o-min-device-pixel-ratio: 3/1), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-mobile-3x.jpeg");
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-tablet-1x.jpeg");
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (max-width: 1199px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-tablet-2x.jpeg");
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 767px) and (max-width: 1199px) and (o-min-device-pixel-ratio: 3/1), screen and (min-width: 767px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 767px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-tablet-3x.jpeg");
  }
}
@media screen and (min-width: 1200px) {
  .headerbar {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-desktop-1x.jpeg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-desktop-2x.jpeg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (o-min-device-pixel-ratio: 3/1), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .headerbar {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/header-desktop-3x.jpeg");
  }
}
.headerbar__titlle {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .headerbar__titlle {
    font-size: 44px;
    line-height: 1.36;
  }
}

.headerbar__btn {
  padding: 10px 24px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .headerbar__btn {
    padding: 10px 32px;
  }
}

.headerbar-btn:hover,
.headerbar-btn:focus,
.headerbar-btn:active {
  background-color: #188ce8;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.logo__span {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg") center no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 400px;
}
@media screen and (min-width: 479.98px) {
  .section-hero {
    background-image: url("../images/hero-mobile.jpg");
  }
}
@media screen and (min-width: 767.98px) {
  .section-hero {
    background-image: url("../images/hero-tablet.jpg");
    max-width: 100%;
    height: 600px;
  }
}

.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.section-hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: var(--active);
  border-radius: 4px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  color: #fff;
  background-color: var(--active);
}
.section-hero__btn:active {
  background-color: #188CE8;
}

.feature__titlle {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-list__item {
  width: 100%;
}
.feature-list__item::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .feature-list__item {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-list__item--icon-antena::before {
  background-image: url(../images/icon/antenna.svg);
}

.feature-list__item--icon-clock::before {
  background-image: url(../images/icon/clock.svg);
}

.feature-list__item--icon-diagram::before {
  background-image: url(../images/icon/diagram.svg);
}

.feature-list__item--icon-astronaut::before {
  background-image: url(../images/icon/astronaut.svg);
}

.feature-list__titlle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.trend {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .trend {
    display: block;
  }
}

.trend-list {
  display: flex;
  gap: 30px;
}

.trend-list__item {
  position: relative;
}

.trend-list__groundwork {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}

.social {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__link--light {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--light:hover, .social__link--light:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}

.team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

.team-list__item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .team-list__content {
    padding-bottom: 30px;
  }
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-list__position {
  margin-bottom: 16px;
  color: #757575;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clisents-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clisents-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clisents-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clisents-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clisents-list__link:hover, .clisents-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clisents-list__icon {
  fill: currentColor;
}

.project__titlle {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .project-button {
    margin-bottom: 40px;
    max-width: 326px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-button {
    margin-bottom: 30px;
  }
}

.project-button__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.62;
  font-weight: 500;
  color: inherit;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-button__btn:hover, .project-button__btn:focus, .project-button__btn:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-button__btn--active {
  padding: 6px 25px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card__item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .project-card__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-card__item:first-child .project-card__content {
    height: 147px;
  }
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}
.project-card__thumb:hover::before {
  opacity: 1;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__item:hover .project-card__overlay {
  transform: translateY(0);
  opacity: 1;
}

.project-card__actions {
  position: absolute;
  display: flex;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__item:hover .project-card__actions {
  opacity: 1;
}

.project-card__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-card__titlle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: inherit;
}

.project-card__text {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  color: #757575;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.container__footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .container__footer {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .container__footer {
    column-gap: 165px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__column:not(:last-child) {
    margin-bottom: 60px;
  }
}

.logo__footer {
  color: #ffffff;
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
}

.address__contact {
  margin-top: 8px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .address__contact {
    margin-top: 9px;
  }
}

.address__map {
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__map:focus {
  color: #2196f3;
}

.footer-form {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .footer-form {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    flex-direction: column;
    align-items: center;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-form__icon {
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-form__icon {
    margin-left: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  width: calc(100% - 30px);
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, 0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover {
  color: #2196f3;
}
.modal__btn:focus {
  color: #2196f3;
  border-color: #2196f3;
  outline: none;
}

.modal__close-icon {
  fill: currentColor;
}
.modal__close-icon:hover, .modal__close-icon:focus {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field:focus-within > .comment {
  border-color: #2196f3;
  outline: none;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__set {
  position: relative;
}
.form__set:focus-within > .form__icon {
  color: #2196f3;
}

.form__input {
  height: 40px;
  width: 100%;
  padding: 11px 12px 11px 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon-svg {
  fill: currentColor;
  transform: translateY(-50%);
}

.form__field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus-within {
  border-color: #2196f3;
  outline: none;
}

.form-chec {
  padding: 10px 0 30px 0;
}

.form-chec__set {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-chec__set:focus-within > .form-chec__icon {
  border-color: #2196f3;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .form-chec__set {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-chec__icon {
  display: inline-block;
  min-width: 16px;
  min-height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-chec__policy {
  color: #2196f3;
  text-decoration-line: underline;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-chec__policy:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.form-chec__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.form-chec__checkbox:checked + .form-chec__icon {
  transform: scale(1.2);
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/icon/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__button {
  text-align: center;
}

.form__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188ce8;
  border-color: #2196f3;
  outline: none;
}/*# sourceMappingURL=main.css.map */