$primery-text-color: #212121;
$fundamental-text-color: #757575;
$secondary-text-color: #000000;
$sub-text-color: #ffffff;
$accent-color: #2196f3;
$primery-white-color: #f5f5f5;
$secondary-white-color: #ffffff;
$accent-white-color: #2f303a;
$basic: "Roboto", sans-serif;
$additional: "Raleway", sans-serif;
$duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1199.98px;